OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini

# Optional fallback if you do not use OpenAI.
GEMINI_API_KEY=AQ.Ab8RN6JfBzLaQy_64RHsGh8SVEVlLzHjUNg7AbrCu8gudesg7A
GEMINI_MODEL=gemini-1.5-flash

ALPHA_VANTAGE_API_KEY=4VSHAIXQFD6PPGYP
REDIS_URL=redis://localhost:6379
SUPABASE_URL=https://obprdtqmomiwvfpxggif.supabase.co
SUPABASE_KEY=sb_publishable_-JdW7DBlQF5QcDwBjOBDpw_IATQwcKw
